<!-- Primary Meta Tags -->
<title>아직 잘 모르는 개발자</title>
<meta name="title" content="아직 잘 모르는 개발자">
<meta name="description" content="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://sonsazang.github.io/">
<meta property="og:title" content="아직 잘 모르는 개발자">
<meta property="og:description" content="">
<meta property="og:image" content="http://SONSAZANG.github.io/images//public/logo.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://sonsazang.github.io/">
<meta property="twitter:title" content="아직 잘 모르는 개발자">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="http://SONSAZANG.github.io/images//public/logo.png">